@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root{
    --quizContainer: #fff;

    --bodyBackground: #b8c6db;
	--previewBg: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%);
	--previewShadow:rgba(100, 100, 100, 0.1);


	--buttonColor:#8e44ad;
    --buttonHover: #732d91;
    --buttonFocus: #5e3370;
    --fontColor: black;

    --hoverColor: white;

}

* {
    box-sizing: border-box;
}

body {
    color: var(--fontColor);
    background-color: var(--bodyBackground);
    background-image: var(--previewBg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

.quiz-container {
    background-color: var(--quizContainer);
    border-radius: 10px;
    box-shadow: 0 0 10px 2px var(--previewShadow);
    overflow: hidden;
    width: 600px;
    max-width: 90vw;
}

.quiz-header{
    padding: 4rem;
}

.color-change {
    background-color: var(--buttonColor);
    border: none;
    color: var(--quizContainer);
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 1.1rem;
    width: 100%;
    padding: 1.3rem;
}

.quiz-header {
    padding-top: 0;
}

.hide {
    display: none;
}


h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}

#submit {
    background-color: var(--buttonColor);
    border: none;
    color: var(--quizContainer);
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 1.1rem;
    width: 100%;
    padding: 1.3rem;
}

#submit:hover {
    background-color: var(--buttonHover);
    color: var(--hoverColor);
}

#submit:focus {
    background-color: var(--buttonFocus);
    outline: none;
}

.color-change:hover {
    background-color: var(--buttonHover);
    color: var(--hoverColor);
}

.color-change:focus {
    background-color: var(--buttonFocus);
    outline: none;
}

